<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HybridDesktop_RxConnect_Pharmacy_Suite" parallel="classes">
  <test name="PharmacyLookup_Search_VerifySubmittedInformationFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.SearchPharmacyLookUpAndVerifySubmittedInformation_TestRunner"/>
    </classes>
  </test> 
 <test name="PharmacyLookup_Search_InvalidDataFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.SearchPharmacyLookUpWithInvalidData_TestRunner"/>
    </classes>
  </test>   
  <test name="PharmacyLookup_BenefitsEligibility_Verify_CallNotesFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpBenefitsEligibilityCallNotes_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_BenefitsEligibility_Verify_BAndEDetailFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpBenefitsAndEligibilityDetail_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_BenefitsEligibility_Verify_CoverageAndCopayFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpBenefitsAndEligibilityCoverageAndCopay_TestRunner"/>
    </classes>
  </test>    
  <test name="PharmacyLookup_BenefitsEligibility_Verify_DeduductibleAndAccumulatorsFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpBenefitsAndEligibilityDeductibleAndAccumulator_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_BenefitsEligibility_Verify_PartDFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpBenefitsAndEligibilityPartD_TestRunner"/>
    </classes>
  </test>  
  <test name="PharmacyLookup_BenefitsEligibility_Verify_DualCoverageFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpBenefitsAndEligibilityDualCoverage_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_ClaimHistoryFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimClaimHistory_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_ContextualHelpFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimContextualHelp_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_ClaimRawDataFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimClaimRawData_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_AdditionalInformationFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimAdditionalInformation_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_DrugUtillizationReviewResponseDetailsFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimDrugUtilizationReiewResponseDetails_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_MedicarePartDFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimMedicarePartD_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_CompoundFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimCompound_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_BenefitsFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimBenefits_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_DrugInformationFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimDrugInformation_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_ErrorsAndMessagesFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimErrorsAndMessages_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_TransferRulesCCInformationFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimTransferRulesCCInformation_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_PricingFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimPricing_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_ClaimDetailFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimClaimDetails_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Claim_Verify_CallNotesFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpClaimCallNotes_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Formulary_Verify_CallNotesFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpFormularyCallNotes_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Formulary_Verify_DrugResultsFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpFormularyDrugResults_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Formulary_Verify_GeneralInformationFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpFormularyGeneralInformation_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Formulary_Verify_MinMaxDoseFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpFormularyMinMaxDose_TestRunner"/>
    </classes>
  </test>    
  <test name="PharmacyLookup_Pharmacy_Verify_CallNotesFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpPharmacyCallNotes_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Pharmacy_Verify_PharmacyResultsFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpPharmacyResults_TestRunner"/>
    </classes>
  </test> 
  <test name="PharmacyLookup_Authorization_Verify_CallNotesFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpAuthorizationCallNotes_TestRunner"/>
    </classes>
  </test>   
  <test name="PharmacyLookup_Authorization_Verify_AuthResultsFeature">
   <classes>
     <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpAuthResults_TestRunner"/>
   </classes>
 </test> 
 <test name="PharmacyLookup_Authorization_Verify_GeneralInformationFeature">
   <classes>
     <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpAuthorizationGeneralInformation_TestRunner"/>
   </classes>
 </test>  
 <test name="PharmacyLookup_Authorization_Verify_NotesAndHistoryFeature">
   <classes>
     <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpAuthorizationNotesAndHistory_TestRunner"/>
   </classes>
 </test> 
 <test name="PharmacyLookup_Reimbursement_Verify_CallNotesFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpReimbursementCallNotes_TestRunner"/>
    </classes>
 </test>  
 <test name="PharmacyLookup_Reimbursement_Verify_ReimbursementResultsFeature">
   <classes>
     <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpReimbursementResults_TestRunner"/>
   </classes>
 </test> 
 <test name="PharmacyLookup_CallNotes_Verify_CallNotesFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.VerifyPharmacyLookUpCallNotes_TestRunner"/>
    </classes>
 </test>     
 <test name="APS33512_PharmacyLookup_BenefitsEligibility_Verify_MedicalBenefitFeature">
    <classes>
      <class name="DSTPS.Automation.HybridDesktop.PharmacyLookupAutomation.runners.APS33512_VerifyPharmacyLookUpBenefitsAndEligibilityMedicalBenefit_TestRunner"/>
    </classes>
 </test>    
</suite>